@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --acqua: #25ced1;
  --orange: #ff9f0f;
  --lemon: #aff500;
  --dark-blue: #345e7a;
  --melon: #ffc9b9;
  --green: #2b6c47;
  --light-pink: #fff4ed;
  --light-green: #84ffa1;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  height: 100%;
  background-color: var(--acqua);
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-Title {
  font-family: "Ribeye", serif;
}

p,
.Card-Text {
  font-family: "Open Sans", sans-serif;
}

.btn-orange {
  background: var(--orange);
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn-lemon {
  background: var(--lemon);
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.nav-bar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-bar-link:hover {
  color: black;
}
.footer,
.blue {
  background: var(--dark-blue);
}

/*homepage*/

.contenedor-de-la-pata {
  position: relative;
}

.overlapping {
  position: absolute;
  top: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-pet-cards-container {
  overflow-x: scroll;
  height: 500px;
}
/**/
.card {
  background: var(--melon);
}
.signup-body {
  background-color: #2e2e2e;
  min-height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: flex;
  width: 80%;
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

/* Left Side */
.signup-left {
  flex: 1;
  background-color: var(--acqua);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.signup-title-orange {
  font-size: 40px;
  color: var(--orange);
}

.signup-title-bold {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.signup-image-placeholder {
  width: 450px;
  height: 350px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right Side */
.signup-right {
  flex: 1;
  background-color: var(--dark-blue);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-heading {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.signup-form button {
  padding: 10px;
  background-color: var(--lemon);
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.signup-login {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: white;
}

.signup-login a {
  color: var(--orange);
  text-decoration: none;
}

/* PetCardFav Styles */

.pet-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-card:hover {
  transform: scale(1.03);
}

.pet-image {
  height: 180px;
  object-fit: cover;
}

/* finish PetCardFav Styles */

/* incio Styles */
.page-wrapper {
  background: #ffe6e6;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-weight: 700;
  color: #333;
  font-size: 2.2rem;
}

/* finish inicio Styles */

/*Animal card on profiles*/
.img-animal-card {
  height: 350px;
  object-fit: cover;
}

.description {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-animal-card-inicio {
  height: 200px;
  object-fit: cover;
}

/* styles for scroll */
.custom-scroll {
  background-color: #25ced1;
  scrollbar-color: white #25ced1;
  scrollbar-width: 3rem;
}
.custom-scroll-2 {
  background-color: #ffc9b9;
  scrollbar-color: white #ffc9b9;
  scrollbar-width: 2rem;
}

/*styles for profile*/
.dashboard-container {
  padding: 60px 0;
  background: #ffc9b9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile-img {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.highlight-name {
  color: #d90429;
  font-weight: 600;
}

.role-title {
  color: black;
  margin-bottom: 20px;
}

/*styles for hert icon in botton of favorites*/

.favorite-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  padding: 8px 16px;
  border: 2px solid #dc3545;
  color: #dc3545;
  background-color: white;
  transition: all 0.3s ease;
  border-radius: 30px;
}

.favorite-button:hover {
  background-color: #dc3545;
  color: white;
}

.favorite-button .heart-icon-container {
  position: relative;
  display: inline-block;
}

.favorite-button .heart-icon {
  font-size: 20px;
  transition: color 0.3s ease;
}

.favorite-button:hover .heart-icon {
  color: white;
}

.favorite-button .heart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

/*styles for AboutUs*/

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  position: relative;
}

.text-icon {
  color: #0d6efd; 
  border: 2px solid #0d6efd;
  border-radius: 50%; 
  padding: 5px; 
  background-color: white; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}

.text-icon:hover {
  background-color: #0d6efd; /* Inviertes los colores al hacer hover */
  color: white;
  border-color: #0d6efd;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--dark-blue);
  margin: 10px auto 0;
  border-radius: 2px;
}

.counter {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0d6efd;
}

.team-card {
  min-width: 300px;
  width: 360px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12) !important;
  color: rgb(214, 47, 35);
}

.team-photo {
  max-width: 360px;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slideInLeft 0.8s ease forwards;
}

.animate-fade-in {
  animation: fadeIn 1s ease forwards;
}

.animate-slide-up {
  animation: fadeIn 1s ease forwards;
}

.animate-zoom-in {
  animation: zoomIn 0.8s ease forwards;
}

.badge:hover {
  transform: scale(1.1);
  background-color: white;
  color: #000;
}
.badge {
  border-radius: 30px;
  font-weight: 500;
  background-color: var(--melon);
  color: black;
  padding: 8px 16px;
  transition: transform 0.3s, background-color 0.3s;
}
