@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --acqua:#25CED1;
  --orange: #ff9f0f;
  --lemon: #aff500;
  --dark-blue: #345E7A;
  --melon:#FFC9B9;
  --green: #2B6C47;
  --light-pink:#FFF4ED;
  --light-green:#84FFA1;
}



body {
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  height: 100%;
  background-color: var(--acqua);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ribeye", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.btn-orange {
  background: var(--orange);
  padding: 10px 20px;
  color: black;
  text-decoration:none;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn-lemon {
  background: var(--lemon);
  text-decoration:none;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}


.nav-bar-link:hover{
  color:black
 
}
.footer, .blue{
  background:var(--dark-blue);
}

.contenedor-de-la-pata{
  position:relative;  
  
}

.overlapping{
  
  position: absolute;
  top: 50%;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  
}

.card{
  background: var(--melon);
}
.signup-body {
  background-color: #2e2e2e;
  min-height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: flex;
  width: 80%;
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

/* Left Side */
.signup-left {
  flex: 1;
  background-color: var(--acqua);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.signup-title-orange {
  font-size: 40px;
  color: var(--orange);
}



.signup-title-bold {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.signup-image-placeholder {
  width: 450px;
  height: 350px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right Side */
.signup-right {
  flex: 1;
  background-color: var(--dark-blue);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-heading {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.signup-form button {
  padding: 10px;
  background-color: var(--lemon);
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.signup-login {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: white;
}

.signup-login a {
  color: var(--orange);
  text-decoration: none;
}



/* PetCardFav Styles */

.pet-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-card:hover {
  transform: scale(1.03);
}

.pet-image {
  height: 180px;
  object-fit: cover;
}

/* finish PetCardFav Styles */


/* incio Styles */
.page-wrapper {
  background: #ffe6e6;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-weight: 700;
  color: #333;
  font-size: 2.2rem;
}

/* finish inicio Styles */



/*Animal card on profiles*/
.img-animal-card{
  height:350px;
  object-fit:cover;
}

.description{
  height:60px;
  overflow: hidden;
  text-overflow: ellipsis;
}